open-banking/src/main/mule/openbanking-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="openbanking-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="openbanking-api-config" api="resource::34d97a6f-7593-494d-a26c-ea744fc85554:openbanking-api:1.0.6:raml:zip:openbanking-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="openbanking-api-main">
        <http:listener config-ref="openbanking-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="openbanking-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="openbanking-api-console">
        <http:listener config-ref="openbanking-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="openbanking-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:openbanking-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Account: [
      {
        AccountId: "22289",
        Status: "Enabled",
        StatusUpdateDateTime: "2019-01-01T06:06:06+00:00",
        Currency: "GBP",
        AccountType: "Personal",
        AccountSubType: "CurrentAccount",
        Nickname: "Bills",
        Account: [
          {
            SchemeName: "UK.OBIE.SortCodeAccountNumber",
            Identification: "80200110203345",
            Name: "Mr Kevin",
            SecondaryIdentification: "00021"
          }
        ]
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/accounts/22289"
  },
  Meta: {
    TotalPages: 1
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId)\balances:openbanking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Account: [
      {
        AccountId: "22289",
        Status: "Enabled",
        StatusUpdateDateTime: "2019-01-01T06:06:06+00:00",
        Currency: "GBP",
        AccountType: "Personal",
        AccountSubType: "CurrentAccount",
        Nickname: "Bills",
        Account: [
          {
            SchemeName: "UK.OBIE.SortCodeAccountNumber",
            Identification: "80200110203345",
            Name: "Mr Kevin",
            SecondaryIdentification: "00021"
          }
        ]
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/accounts/22289"
  },
  Meta: {
    TotalPages: 1
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-payload value='#["Set payload added"]' doc:name="Set Payload" doc:id="82efdd5b-79a7-4df4-97ea-c1a6fb83e6b4" />
		<logger level="INFO" doc:name="Logger" doc:id="87be25af-da72-4291-8242-a8039a46c385" message="logger is also added"/>
    </flow>
    <flow name="get:\customers:openbanking-api-config">
        <logger level="INFO" message="get:\customers:openbanking-api-config" />
    </flow>
    <flow name="get:\accounts\(accountId)\transactions:openbanking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Account: [
      {
        AccountId: "22289",
        Status: "Enabled",
        StatusUpdateDateTime: "2019-01-01T06:06:06+00:00",
        Currency: "GBP",
        AccountType: "Personal",
        AccountSubType: "CurrentAccount",
        Nickname: "Bills",
        Account: [
          {
            SchemeName: "UK.OBIE.SortCodeAccountNumber",
            Identification: "80200110203345",
            Name: "Mr Kevin",
            SecondaryIdentification: "00021"
          }
        ]
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/accounts/22289"
  },
  Meta: {
    TotalPages: 1
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId):openbanking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Account: [
      {
        AccountId: "22289",
        Status: "Enabled",
        StatusUpdateDateTime: "2019-01-01T06:06:06+00:00",
        Currency: "GBP",
        AccountType: "Personal",
        AccountSubType: "CurrentAccount",
        Nickname: "Bills",
        Account: [
          {
            SchemeName: "UK.OBIE.SortCodeAccountNumber",
            Identification: "80200110203345",
            Name: "Mr Kevin",
            SecondaryIdentification: "00021"
          }
        ]
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/accounts/22289"
  },
  Meta: {
    TotalPages: 1
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\accounts\(accountId)\transactions\(transactionId):openbanking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="accountId">attributes.uriParams.'accountId'</ee:set-variable>
                <ee:set-variable variableName="transactionId">attributes.uriParams.'transactionId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Data: {
    Account: [
      {
        AccountId: "22289",
        Status: "Enabled",
        StatusUpdateDateTime: "2019-01-01T06:06:06+00:00",
        Currency: "GBP",
        AccountType: "Personal",
        AccountSubType: "CurrentAccount",
        Nickname: "Bills",
        Account: [
          {
            SchemeName: "UK.OBIE.SortCodeAccountNumber",
            Identification: "80200110203345",
            Name: "Mr Kevin",
            SecondaryIdentification: "00021"
          }
        ]
      }
    ]
  },
  Links: {
    Self: "https://api.alphabank.com/open-banking/v3.1/aisp/accounts/22289"
  },
  Meta: {
    TotalPages: 1
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts:application\json:openbanking-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Account created successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\extra:application\json:openbanking-api-config">
        <logger level="INFO" message="post:\extra:application\json:openbanking-api-config" />
    </flow>
</mule>
