sample-app2/src/main/mule/sample-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="31dfcead-7766-4fd7-9679-be9a6811805d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-appFlow" doc:id="86d172dc-37b5-424e-b61e-a351a0fc0bf3" >
		<http:listener doc:name="Listener" doc:id="cf53bf9a-a6f8-4de2-9ffc-f809f79cea01" config-ref="HTTP_Listener_config" path="/world"/>
		<http:request method="GET" doc:name="Request" doc:id="dfef68a7-b9e3-4371-99ea-c8566994ced1" url="http://worldtimeapi.org/api/timezone/America/Argentina/Salta"/>
		<set-payload value='#["Joy full day"]' doc:name="Set Payload" doc:id="3be4da4b-1138-4338-bc7d-1a13cc990ae6" />
	</flow>
</mule>

